@model Levelnis.Learning.EndToEndExamples.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-8 col-xs-12">
        <h3>Duplicate username validator</h3>
        <form class="form-inline">
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
            </div>
            <div class="form-group">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
            <span class="hide" id="Indicator"><i class="fa fa-circle-o-notch fa-spin fa-lg"></i></span>
            <span class="hide btn btn-success" id="IndicatorOk"><i class="fa fa-check fa-lg"></i></span>
            <span class="hide btn btn-danger" id="IndicatorError"><i class="fa fa-times fa-lg"></i></span>
        </form>
    </div>
</div>

@section scripts{
    <script>
        (function($) {
            $('#Username').on('blur',
                function () {
                    var username = $(this).val();
                    if (username.length > 0) {
                        $('#Indicator').removeClass('hide');
                    }
                });
        }(jQuery))
    </script>
}