@model Levelnis.Learning.EndToEndExamples.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-sm-8 col-xs-12">
        <h3>Duplicate username validator</h3>
        <form>
            <div class="form-group">
                @Html.LabelFor(m => m.Username)
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
            </div>
        </form>
    </div>
</div>
